<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>

    <style>
        .scheduleGroup {
            width: 800px;
            margin: 20px auto;
        }
    </style>
</head>

<body id="<%= pageID %>">
        <% include partials/template/header.ejs %>
    <div class="container-fluid">
        <div class="row title">
            <div class="col-xs-6">
                <h1><%= pageTitle %></h1>
            </div><!-- /.ol -->
            <div class="col-xs-6 ctaButtons">
                <a href="/dep-mix-schedule-add"><button type="button" class="btn buttonHide">Add to Schedule</button></a>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-xs-12 table-responsive">
                <h2>Today</h2>
                <table class="table table-striped table-sm"  id="scheduleTable" style="text-align:center;">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Start</th>
                            <th scope="col">End</th>
                            <th scope="col">Shift</th>
                            <th scope="col">Assigned To</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Product</th>
                            <th scope="col">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% events.forEach(function(event) { %>
                            <% if (event.status == 'New') { %>
                            <tr>
                                <td><%= event.date %></td>
                                <td id="timeStart"><%= event.timeStart %></td>
                                <td id="timeEnd"><%= event.timeEnd %></td>
                                <td><%= event.shift %></td>
                                <td><%= event.assignedTo %></td>
                                <td><%= event.amount %></td>
                                <td><%= event.nameWhole %></td>
                                <td><%= event.notes %></td>
                            </tr>
                        <% }}) %>
                        
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <!--
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <h2>Tomorrow <%= day2 %></h2>
                <table class="table table-striped table-sm"  id="scheduleTable2" style="text-align:center;">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Start Time</th>
                            <th scope="col">End Time</th>
                            <th scope="col">Assigned To</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Product</th>
                            <th scope="col">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% events.forEach(function(event) { %>
                            <% if (event.date == day2) { %>
                            <tr>
                                <td><%= event.date %></td>
                                <td id="timeStart"><%= event.timeStart %></td>
                                <td id="timeEnd"><%= event.timeEnd %></td>
                                <td><%= event.assignedTo %></td>
                                <td><%= event.amount %></td>
                                <td><%= event.nameWhole %></td>
                                <td><%= event.notes %></td>
                            </tr>
                        <% }}) %>
                        
                    </tbody>
                </table>
            </div>
        </div>
        -->

    </div><!-- /.container -->
    <% include partials/template/scripts.ejs %>
</body>

</html>