<div class="row">
        <div class="col-xs-12">
            <div class="scheduleGroup">
                <iframe width="800" height="300" seamless frameborder="0" scrolling="no" src="https://docs.google.com/a/smartforlife.com/spreadsheets/d/e/2PACX-1vTPd796mnkM_JZHXenvpIk5g9417PEFRMbUh6cD9qK3Wtta_dZ9zkT2QPWO8RV8lfk8M6weEfmUBs0E/pubchart?oid=1173911191&amp;format=image"></iframe>
                <iframe width="800" height="300" seamless frameborder="0" scrolling="no" src="https://docs.google.com/a/smartforlife.com/spreadsheets/d/e/2PACX-1vTPd796mnkM_JZHXenvpIk5g9417PEFRMbUh6cD9qK3Wtta_dZ9zkT2QPWO8RV8lfk8M6weEfmUBs0E/pubchart?oid=1414358814&amp;format=image"></iframe>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->

    <th scope="col">Status</th>

    <% if (event.status == "Not Started") { %>
        <th scope="row" class="eventStatusNS">
            <%= event.status %><br><br>
            <form action="/event/<%= event._id %>/update" method="PUT">
                <input type="hidden" name="status" value="In Progress"></input>
                <button type="submit" class="btn">Start</button>
            </form>
        </th>
        <% } else if (event.status == "In Progress") { %>
            <th scope="row" class="eventStatusIP"><%= event.status %></th>
        <% } else if (event.status == "Completed") { %>
            <th scope="row" class="eventStatusC"><%= event.status %></th>
        <% } else if (event.status == "Not Completed") { %>
            <th scope="row" class="eventStatusNC"><%= event.status %></th>
        <% } %>