<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>

    <style>
        .scheduleGroup {
            width: 800px;
            margin: 20px auto;
        }
    </style>
</head>

<body id="<%= pageID %>">
        <% include partials/template/header.ejs %>
    <div class="container-fluid">
        <div class="row title">
            <div class="col-xs-6">
                <h1><%= pageTitle %></h1>
            </div><!-- /.ol -->
            <div class="col-xs-6 ctaButtons">
                <button type="button" class="btn"><a href="/dep-prod-main-schedule-add">Add to Schedule</a></button>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped table-sm"  id="scheduleTable" style="text-align:center;">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Start</th>
                            <th scope="col">End</th>
                            <th scope="col">Line</th>
                            <th scope="col">Manager</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Product</th>
                            <th scope="col">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% eventsProdMain.forEach(function(event) { %>
                            <% if (event.status == 'New') { %>
                            <tr>
                                <td><%= event.date %></td>
                                <td><%= event.timeStart %></td>
                                <td><%= event.timeEnd %></td>
                                <td><%= event.line %></td>
                                <td><%= event.manager %></td>
                                <td><%= event.amount %></td>
                                <td><%= event.nameWhole %></td>
                                <td><%= event.notes %></td>
                            </tr>
                        <% }}) %>
                        
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container -->
    <% include partials/template/scripts.ejs %>
</body>

</html>