<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body id="<%= pageID %>">
        <% include partials/template/header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 title">
                <h1><%= pageTitle %></h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-xs-12 recipesCategory">
                <h2>1 Up</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Name</th>
                            <th scope="col">Flavor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% recipes.forEach(function(recipe) { 
                            if (recipe.category == '1UP') { %>
                        <tr class="clickable-row" data-href="../recipe/<%= recipe._id %>">
                            <th scope="row"><%= recipe.category %></th>
                            <td><%= recipe.name %></td>
                            <td><%= recipe.flavor %></td>
                        </tr>                    
                        <% }}); %>
                    </a>
                    </tbody>
                </table>
            </div><!-- /.col -->
            <div class="col-xs-12 recipesCategory">
                    <h2>Brandless</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Category</th>
                                <th scope="col">Name</th>
                                <th scope="col">Flavor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% recipes.forEach(function(recipe) { 
                                if (recipe.category == 'Brandless') { %>
                            <tr class="clickable-row" data-href="../recipe/<%= recipe._id %>">
                                <th scope="row"><%= recipe.category %></th>
                                <td><%= recipe.name %></td>
                                <td><%= recipe.flavor %></td>
                            </tr>                    
                            <% }}); %>
                        </a>
                        </tbody>
                    </table>
                </div><!-- /.col -->
                <div class="col-xs-12 recipesCategory">
                    <h2>Cookies</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Name</th>
                                <th scope="col">Flavor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% recipes.forEach(function(recipe) { 
                                if (recipe.category == 'Cookies') { %>
                            <tr class="clickable-row" data-href="../recipe/<%= recipe._id %>">
                                <th scope="row"><%= recipe.category %></th>
                                <td><%= recipe.name %></td>
                                <td><%= recipe.flavor %></td>
                            </tr>                    
                            <% }}); %>
                        </a>
                        </tbody>
                    </table>
                </div><!-- /.col -->
                <div class="col-xs-12 recipesCategory">
                    <h2>Creamers</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Name</th>
                                <th scope="col">Flavor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% recipes.forEach(function(recipe) { 
                                if (recipe.category == 'Creamers') { %>
                            <tr class="clickable-row" data-href="../recipe/<%= recipe._id %>">
                                <th scope="row"><%= recipe.category %></th>
                                <td><%= recipe.name %></td>
                                <td><%= recipe.flavor %></td>
                            </tr>                    
                            <% }}); %>
                        </a>
                        </tbody>
                    </table>
                </div><!-- /.col -->
                <div class="col-xs-12 recipesCategory">
                    <h2>Cupcakes</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Name</th>
                                <th scope="col">Flavor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% recipes.forEach(function(recipe) { 
                                if (recipe.category == 'Cupcakes') { %>
                            <tr class="clickable-row" data-href="../recipe/<%= recipe._id %>">
                                <th scope="row"><%= recipe.category %></th>
                                <td><%= recipe.name %></td>
                                <td><%= recipe.flavor %></td>
                            </tr>                    
                            <% }}); %>
                        </a>
                        </tbody>
                    </table>
                </div><!-- /.col -->
                <div class="col-xs-12 recipesCategory">
                    <h2>Mediterranean</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Name</th>
                                <th scope="col">Flavor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% recipes.forEach(function(recipe) { 
                                if (recipe.category == 'Mediterranean') { %>
                            <tr class="clickable-row" data-href="../recipe/<%= recipe._id %>">
                                <th scope="row"><%= recipe.category %></th>
                                <td><%= recipe.name %></td>
                                <td><%= recipe.flavor %></td>
                            </tr>                    
                            <% }}); %>
                        </a>
                        </tbody>
                    </table>
                </div><!-- /.col -->
                <div class="col-xs-12 recipesCategory">
                    <h2>Nutrativa</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Name</th>
                                <th scope="col">Flavor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% recipes.forEach(function(recipe) { 
                                if (recipe.category == 'Nutrativa') { %>
                            <tr class="clickable-row" data-href="../recipe/<%= recipe._id %>">
                                <th scope="row"><%= recipe.category %></th>
                                <td><%= recipe.name %></td>
                                <td><%= recipe.flavor %></td>
                            </tr>                    
                            <% }}); %>
                        </a>
                        </tbody>
                    </table>
                </div><!-- /.col -->
                <div class="col-xs-12 recipesCategory">
                    <h2>Oatmeal</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Name</th>
                                <th scope="col">Flavor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% recipes.forEach(function(recipe) { 
                                if (recipe.category == 'Oatmeal') { %>
                            <tr class="clickable-row" data-href="../recipe/<%= recipe._id %>">
                                <th scope="row"><%= recipe.category %></th>
                                <td><%= recipe.name %></td>
                                <td><%= recipe.flavor %></td>
                            </tr>                    
                            <% }}); %>
                        </a>
                        </tbody>
                    </table>
                </div><!-- /.col -->
                <div class="col-xs-12 recipesCategory">
                    <h2>Protein Bars</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Name</th>
                                <th scope="col">Flavor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% recipes.forEach(function(recipe) { 
                                if (recipe.category == 'Protein Bars') { %>
                            <tr class="clickable-row" data-href="../recipe/<%= recipe._id %>">
                                <th scope="row"><%= recipe.category %></th>
                                <td><%= recipe.name %></td>
                                <td><%= recipe.flavor %></td>
                            </tr>                    
                            <% }}); %>
                        </a>
                        </tbody>
                    </table>
                </div><!-- /.col -->
                <div class="col-xs-12 recipesCategory">
                    <h2>Shakes</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Name</th>
                                <th scope="col">Flavor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% recipes.forEach(function(recipe) { 
                                if (recipe.category == 'Shakes') { %>
                            <tr class="clickable-row" data-href="../recipe/<%= recipe._id %>">
                                <th scope="row"><%= recipe.category %></th>
                                <td><%= recipe.name %></td>
                                <td><%= recipe.flavor %></td>
                            </tr>                    
                            <% }}); %>
                        </a>
                        </tbody>
                    </table>
                </div><!-- /.col -->
                <div class="col-xs-12 recipesCategory">
                    <h2>Soups</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Name</th>
                                <th scope="col">Flavor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% recipes.forEach(function(recipe) { 
                                if (recipe.category == 'Soups') { %>
                            <tr class="clickable-row" data-href="../recipe/<%= recipe._id %>">
                                <th scope="row"><%= recipe.category %></th>
                                <td><%= recipe.name %></td>
                                <td><%= recipe.flavor %></td>
                            </tr>                    
                            <% }}); %>
                        </a>
                        </tbody>
                    </table>
                </div><!-- /.col -->
                <div class="col-xs-12 recipesCategory">
                    <h2>Supplements</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Name</th>
                                <th scope="col">Flavor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% recipes.forEach(function(recipe) { 
                                if (recipe.category == 'Supplements') { %>
                            <tr class="clickable-row" data-href="../recipe/<%= recipe._id %>">
                                <th scope="row"><%= recipe.category %></th>
                                <td><%= recipe.name %></td>
                                <td><%= recipe.flavor %></td>
                            </tr>                    
                            <% }}); %>
                        </a>
                        </tbody>
                    </table>
                </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container -->
    <% include partials/template/scripts.ejs %>
</body>

</html>