<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/recipes/head.ejs %>
</head>

<body class="navSpacer" id="<%= pageID %>">
    <% include partials/template/recipes/header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Product</h2>
                <img class="img-fluid" src="http://via.placeholder.com/600x600" alt="">
            </div><!-- /.col -->
            <div class="col-sm-6">
                <h2>Recipe</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Ingredient</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><%= ing1name %></th>
                            <td><%= ing1quant %><%= ing1unit %></td>
                        </tr>
                        <tr>
                            <th scope="row"><%= ing2name %></th>
                            <td><%= ing2quant %><%= ing2unit %></td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</body>

</html>