<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/recipes/head.ejs %>
</head>

<body id="<%= pageID %>">
    <% include partials/template/recipes/header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>Product</h2>
                <hr style="margin-top:0;">
                <h3><%= category %></h3>
                <h4><%= name %></h4>
                <h5><%= flavor %></h5>
                <img class="img-fluid" src="<%= imageURL %>" alt="<%= category %> <%= name %> <%= flavor %>">
            </div><!-- /.col -->
            <div class="col-sm-8">
                <h2>Recipe</h2>
                <hr>
                <h3>Table 1</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Ingredient</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (t01ing01name) { %>
                        <tr>
                            <th scope="row"><%= t01ing01name %></th>
                            <td><%= t01ing01quant %><%= t01ing01unit %></td>
                            <td><%= t01ing01notes %></td>
                        </tr>
                        <% } %>
                        <% if (t01ing02name) { %>
                        <tr>
                            <th scope="row"><%= t01ing02name %></th>
                            <td><%= t01ing02quant %><%= t01ing02unit %></td>
                            <td><%= t01ing02notes %></td>
                        </tr>
                        <% } %>
                        <% if (t01ing03name) { %>
                        <tr>
                            <th scope="row"><%= t01ing03name %></th>
                            <td><%= t01ing03quant %><%= t01ing03unit %></td>
                            <td><%= t01ing03notes %></td>
                        </tr>
                        <% } %>
                        <% if (t01ing04name) { %>
                        <tr>
                            <th scope="row"><%= t01ing04name %></th>
                            <td><%= t01ing04quant %><%= t01ing04unit %></td>
                            <td><%= t01ing04notes %></td>
                        </tr>
                        <% } %>
                        <% if (t01ing05name) { %>
                        <tr>
                            <th scope="row"><%= t01ing05name %></th>
                            <td><%= t01ing05quant %><%= t01ing05unit %></td>
                            <td><%= t01ing05notes %></td>
                        </tr>
                        <% } %>
                        <% if (t01ing06name) { %>
                        <tr>
                            <th scope="row"><%= t01ing06name %></th>
                            <td><%= t01ing06quant %><%= t01ing06unit %></td>
                            <td><%= t01ing06notes %></td>
                        </tr>
                        <% } %>
                        <% if (t01ing07name) { %>
                        <tr>
                            <th scope="row"><%= t01ing07name %></th>
                            <td><%= t01ing07quant %><%= t01ing07unit %></td>
                            <td><%= t01ing07notes %></td>
                        </tr>
                        <% } %>
                        <% if (t01ing08name) { %>
                        <tr>
                            <th scope="row"><%= t01ing08name %></th>
                            <td><%= t01ing08quant %><%= t01ing08unit %></td>
                            <td><%= t01ing08notes %></td>
                        </tr>
                        <% } %>
                        <% if (t01ing09name) { %>
                        <tr>
                            <th scope="row"><%= t01ing09name %></th>
                            <td><%= t01ing09quant %><%= t01ing09unit %></td>
                            <td><%= t01ing09notes %></td>
                        </tr>
                        <% } %>
                        <% if (t01ing10name) { %>
                        <tr>
                            <th scope="row"><%= t01ing10name %></th>
                            <td><%= t01ing10quant %><%= t01ing10unit %></td>
                            <td><%= t01ing10notes %></td>
                        </tr>
                        <% } %>
                        <% if (t01ing11name) { %>
                        <tr>
                            <th scope="row"><%= t01ing11name %></th>
                            <td><%= t01ing11quant %><%= t01ing11unit %></td>
                            <td><%= t01ing11notes %></td>
                        </tr>
                        <% } %>
                        <% if (t01ing12name) { %>
                        <tr>
                            <th scope="row"><%= t01ing12name %></th>
                            <td><%= t01ing12quant %><%= t01ing12unit %></td>
                            <td><%= t01ing12notes %></td>
                        </tr>
                        <% } %>
                        <% if (t01ing13name) { %>
                        <tr>
                            <th scope="row"><%= t01ing13name %></th>
                            <td><%= t01ing13quant %><%= t01ing13unit %></td>
                            <td><%= t01ing13notes %></td>
                        </tr>
                        <% } %>
                        <% if (t01ing14name) { %>
                        <tr>
                            <th scope="row"><%= t01ing14name %></th>
                            <td><%= t01ing14quant %><%= t01ing14unit %></td>
                            <td><%= t01ing14notes %></td>
                        </tr>
                        <% } %>
                        <% if (t01ing15name) { %>
                        <tr>
                            <th scope="row"><%= t01ing15name %></th>
                            <td><%= t01ing15quant %><%= t01ing15unit %></td>
                            <td><%= t01ing15notes %></td>
                        </tr>
                        <% } %>
                        <% if (t01ing16name) { %>
                        <tr>
                            <th scope="row"><%= t01ing16name %></th>
                            <td><%= t01ing16quant %><%= t01ing16unit %></td>
                            <td><%= t01ing16notes %></td>
                        </tr>
                        <% } %>
                        <% if (t01ing17name) { %>
                        <tr>
                            <th scope="row"><%= t01ing17name %></th>
                            <td><%= t01ing17quant %><%= t01ing17unit %></td>
                            <td><%= t01ing17notes %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <% if (t02ing01name) { %>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Ingredient</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (t02ing01name) { %>
                            <tr>
                                <th scope="row"><%= t02ing01name %></th>
                                <td><%= t02ing01quant %><%= t02ing01unit %></td>
                                <td><%= t02ing01notes %></td>
                            </tr>
                            <% } %>
                            <% if (t02ing02name) { %>
                            <tr>
                                <th scope="row"><%= t02ing02name %></th>
                                <td><%= t02ing02quant %><%= t02ing02unit %></td>
                                <td><%= t02ing02notes %></td>
                            </tr>
                            <% } %>
                            <% if (t02ing03name) { %>
                            <tr>
                                <th scope="row"><%= t02ing03name %></th>
                                <td><%= t02ing03quant %><%= t02ing03unit %></td>
                                <td><%= t02ing03notes %></td>
                            </tr>
                            <% } %>
                            <% if (t02ing04name) { %>
                            <tr>
                                <th scope="row"><%= t02ing04name %></th>
                                <td><%= t02ing04quant %><%= t02ing04unit %></td>
                                <td><%= t02ing04notes %></td>
                            </tr>
                            <% } %>
                            <% if (t02ing05name) { %>
                            <tr>
                                <th scope="row"><%= t02ing05name %></th>
                                <td><%= t02ing05quant %><%= t02ing05unit %></td>
                                <td><%= t02ing05notes %></td>
                            </tr>
                            <% } %>
                            <% if (t02ing06name) { %>
                            <tr>
                                <th scope="row"><%= t02ing06name %></th>
                                <td><%= t02ing06quant %><%= t02ing06unit %></td>
                                <td><%= t02ing06notes %></td>
                            </tr>
                            <% } %>
                            <% if (t02ing07name) { %>
                            <tr>
                                <th scope="row"><%= t02ing07name %></th>
                                <td><%= t02ing07quant %><%= t02ing07unit %></td>
                                <td><%= t02ing07notes %></td>
                            </tr>
                            <% } %>
                            <% if (t02ing08name) { %>
                            <tr>
                                <th scope="row"><%= t02ing08name %></th>
                                <td><%= t02ing08quant %><%= t02ing08unit %></td>
                                <td><%= t02ing08notes %></td>
                            </tr>
                            <% } %>
                            <% if (t02ing09name) { %>
                            <tr>
                                <th scope="row"><%= t02ing09name %></th>
                                <td><%= t02ing09quant %><%= t02ing09unit %></td>
                                <td><%= t02ing09notes %></td>
                            </tr>
                            <% } %>
                            <% if (t02ing10name) { %>
                            <tr>
                                <th scope="row"><%= t02ing10name %></th>
                                <td><%= t02ing10quant %><%= t02ing10unit %></td>
                                <td><%= t02ing10notes %></td>
                            </tr>
                            <% } %>
                            <% if (t02ing11name) { %>
                            <tr>
                                <th scope="row"><%= t02ing11name %></th>
                                <td><%= t02ing11quant %><%= t02ing11unit %></td>
                                <td><%= t02ing11notes %></td>
                            </tr>
                            <% } %>
                            <% if (t02ing12name) { %>
                            <tr>
                                <th scope="row"><%= t02ing12name %></th>
                                <td><%= t02ing12quant %><%= t02ing12unit %></td>
                                <td><%= t02ing12notes %></td>
                            </tr>
                            <% } %>
                            <% if (t02ing13name) { %>
                            <tr>
                                <th scope="row"><%= t02ing13name %></th>
                                <td><%= t02ing13quant %><%= t02ing13unit %></td>
                                <td><%= t02ing13notes %></td>
                            </tr>
                            <% } %>
                            <% if (t02ing14name) { %>
                            <tr>
                                <th scope="row"><%= t02ing14name %></th>
                                <td><%= t02ing14quant %><%= t02ing14unit %></td>
                                <td><%= t02ing14notes %></td>
                            </tr>
                            <% } %>
                            <% if (t02ing15name) { %>
                            <tr>
                                <th scope="row"><%= t02ing15name %></th>
                                <td><%= t02ing15quant %><%= t02ing15unit %></td>
                                <td><%= t02ing15notes %></td>
                            </tr>
                            <% } %>
                            <% if (t02ing16name) { %>
                            <tr>
                                <th scope="row"><%= t02ing16name %></th>
                                <td><%= t02ing16quant %><%= t02ing16unit %></td>
                                <td><%= t02ing16notes %></td>
                            </tr>
                            <% } %>
                            <% if (t02ing17name) { %>
                            <tr>
                                <th scope="row"><%= t02ing17name %></th>
                                <td><%= t02ing17quant %><%= t02ing17unit %></td>
                                <td><%= t02ing17notes %></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                <% } %>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <% include partials/template/recipes/scripts.ejs %>
</body>

</html>