<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
    <script>
        function sortTable() {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("scheduleTable");
            switching = true;
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[1];
                y = rows[i + 1].getElementsByTagName("TD")[1];
                //check if the two rows should switch place:
                if (Number(x.innerHTML) > Number(y.innerHTML)) {
                    //if so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            }
        }
    }
    $(document).ready(function(){
        sortTable();
    });
    </script>
</head>

<body id="<%= pageID %>">
        <% include partials/template/header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 title">
                <h1><%= pageTitle %></h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row ctaButtons">
            <div class="col-xs-12">
                <button type="button" class="btn"><a href="/schedule-add">Add to Schedule</a></button>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped"  id="scheduleTable" style="text-align:center;">
                    <thead>
                        <tr>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col">Start Time</th>
                            <th scope="col">End Time</th>
                            <!--<th scope="col">Dur<br>(est)</th>-->
                            <!--<th scope="col">Dur<br>(actual)</th>-->
                            <th scope="col">Assigned To</th>
                            <th scope="col">Product</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% events.forEach(function(event) { %>
                        <tr>

                                <% if (event.status == "Not Started") { %>
                                <th scope="row" class="eventStatusNS">
                                    <%= event.status %><br><br>
                                    <form action="/event/<%= event._id %>/update" method="PUT">
                                        <input type="hidden" name="status" value="In Progress"></input>
                                        <button type="submit" class="btn">Start</button>
                                    </form>
                                </th>
                                <% } else if (event.status == "In Progress") { %>
                                    <th scope="row" class="eventStatusIP"><%= event.status %></th>
                                <% } else if (event.status == "Completed") { %>
                                    <th scope="row" class="eventStatusC"><%= event.status %></th>
                                <% } else if (event.status == "Not Completed") { %>
                                    <th scope="row" class="eventStatusNC"><%= event.status %></th>
                                <% } %>
                                <td><%= event.date %></td>
                                
                                <td id="timeStart"><%= event.timeStart %></td>
                                <td id="timeEnd"><%= event.timeEnd %></td>
                                <!--<td><%= event.durationEstimate %></td>-->
                                <!--<td><%= event.durationActual %></td>-->
                                <td><%= event.assignedTo %></td>
                                <td><%= event.nameWhole %></td>
                            </tr>
           
                        <% }) %>
                        
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container -->
    <% include partials/template/scripts.ejs %>

</body>

</html>